* {
    padding: 0;
    margin: 0;
    font-family: var(--system-ui);
}

ul {
    list-style: none;
}

:root {
    --blue: rgb(25 150 250);
    --orange: orange;
    --light-gray: lightgrey;
    --system-ui: -apple-system, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    background-color: var(--light-gray);
}

#grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 3fr 1fr 4fr 1fr 4fr / 1fr 4fr 1fr;
}

#grid-container > * {
    border: black;
    border-style: solid;
}

#sidebar {
    background-color: var(--blue);
    color: white;
    font-weight: bolder;
    display: grid;
    grid-template: 1fr 0.25fr repeat(6, 1fr) 0.25fr repeat(3, 1fr) 60vh / 1fr 4fr;
    grid-row: 1 / -1;
    grid-column: 1;
    align-items: center;
}

svg {
    width: 1em;
    fill: white;
    justify-self: center;
}

#logo-icon {
    width: 1.8em;
}

#navigation {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 1;
    grid-column: 2 / -1;
}

#navigation > * {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

#buttons {
    display: flex;
}

#projects-header {
    grid-row: 2;
    grid-column: 2;
}

#projects {
    grid-row: 3 / -1;
    grid-column: 2;
}

#announcements-header {
    grid-row: 2;
    grid-column: 3;
}

#announcements {
    grid-row: 3;
    grid-column: 3;
}

#trending-header {
    grid-row: -3 / -2;
    grid-column: 3;
}

#trending {
    grid-row: -2 / -1;
    grid-column: -2 / -1;
}